.body {
  width: 100%;
  height: 100vh;
  padding: 0px !important;
}
#header {
  background-color: #ffffff !important;
  padding-left: 35px;
  padding-right: 70px;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 45px;
}
.divider_line_chart {
  border-bottom: 1px solid #a2a2a2;
  height: 2px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}
#over_typo {
  cursor: pointer;
  font-size: 38px;
  font-family: Lato-Regular;
}
#over_typo:hover {
  color: #226cfc;
}
.chartSection {
  height: 55vh;
}
.chart {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#bars {
  cursor: pointer;
  width: 15px;
  background-color: #226cfc !important;
  margin-left: 15px;
  border-radius: 0px !important;
}
#barslight {
  cursor: pointer;
  width: 15px;
  background-color: #e1f0fa !important;
  margin-left: 15px;
  border-radius: 0px !important;
}
#bars:hover,
#barslight:hover {
  background-color: red !important;
}
.bot_section {
  margin-top: 50px;
  height: 40vh;
  padding: 20px;
}
#insideBot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row_direc {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.col_direc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexAdder {
  border-top: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.typo_bot_header {
  font-size: 16px;
  cursor: pointer;
  color: #808080;
  font-family: Lato-Regular;
}
.typo_bot_name {
  font-size: 16px;
  cursor: pointer;
  color: #272727;
  font-family: Lato-Medium;
  font-weight: 600 !important;
}
.typo_bot_header:hover,
.typo_bot_name:hover {
  color: #226cfc;
}
.btnBot {
  cursor: pointer;
  background-color: #226cfc;
  color: white;
  width: 74px;
  height: 33px;
  outline: none;
  border: none;
  text-transform: capitalize !important;
  border-radius: 3px;
}
#active {
  display: block;
}
#paused {
  display: none;
}
.btnBot:hover {
  background-color: #ffa700;
}
.btnBot:hover #active {
  display: none;
}
.btnBot:hover #paused {
  display: block;
}
#btn_bot {
  margin-left: -150px;
}
