.leftback {
  width: 100%;
  background-color: #fafbfc;
  height: 100vh;
  padding: 0px !important;
}
.flexaddercol {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}
#title_typo {
  font-size: 15px;
  color: black;
  font-family: Lato-Regular;
}
.divider_line {
  border-bottom: 1px solid #a2a2a2;
  height: 2px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
#menu_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#typo_menu_head {
  font-size: 16px;
  font-family: Lato-Bold;
}
.Menu {
  padding-top: 6%;
  padding-left: 10%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#icon_1 {
  cursor: pointer;
  color: #a8abb7;
}
#icon_1:hover {
  color: #226cfc;
}
.menu_typo {
  font-size: 18px;
  font-family: Lato-Regular;
  color: #272727;
}
.botpart {
  height: 34vh;
}
.btnbot {
  height: 54px;
  width: 221px;
  color: white !important;
  text-transform: capitalize !important;
  background-color: #226cfc !important;
  border-radius: 5px;
  font-family: Lato-Bold;
  font-size: 18px !important;
  border: none;
  outline: none;
  box-shadow: 5px 8px 10px #888;
}
#btnsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnbot:hover {
  color: #226cfc !important;
  background-color: white !important;
}
