.leftback {
  width: 100%;
  background-color: #fafbfc;
  height: 100vh;
  padding: 0px !important;
}
.flexaddercol {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;

  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#title_typo {
  cursor: pointer;
  font-size: 15px;
  color: black;
  font-family: Lato-Regular;
}
#title_typo:hover {
  color: #226cfc;
  font-weight: 600;
}
#typo_menu_head:hover {
  color: #226cfc;
  font-weight: 600;
}
.menu_typo:hover {
  color: #226cfc;
}
.divider_line {
  border-bottom: 1px solid #a2a2a2;
  height: 2px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
#menu_items {
  padding-left: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#menu_items:hover {
  padding-left: 7%;
  border-left: 8px solid #226cfc;
  transition: 0.2s;
}
#typo_menu_head {
  padding-left: 10%;
  font-size: 16px;
  cursor: pointer;
  font-family: Lato-Bold;
}
.Menu {
  padding-top: 6%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#icon_1 {
  cursor: pointer;
  color: #a8abb7;
}
#icon_1:hover {
  color: #226cfc;
}
.menu_typo {
  cursor: pointer;
  font-size: 18px;
  font-family: Lato-Regular;
  color: #272727;
}
.botpart {
  height: 34vh;
  -webkit-animation: scale-up-center 0.9s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.btnbot {
  height: 54px;
  width: 221px;
  color: white !important;
  text-transform: capitalize !important;
  background-color: #226cfc !important;
  border-radius: 5px;
  font-family: Lato-Bold;
  font-size: 18px !important;
  border: none;
  outline: none;
  box-shadow: 5px 8px 10px #888;
}
#btnsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnbot:hover {
  color: #226cfc !important;
  background-color: white !important;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
