* {
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "Lato-Regular";
  src: url('./fonts/Lato-Regular.ttf')
}
@font-face {
  font-family: "Lato-Bold";
  src: url('./fonts/Lato-Bold.ttf')
}
@font-face {
  font-family: "Lato-Medium";
  src: url('./fonts/Lato-Thin.ttf')
}